body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  color: #f9faf8;
  background-color: #1f2937;
}

.logo {
  margin: 18px;
  font-size: 24px;
  font-weight: 900;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
}
